<nav class="navbar navbar-{{variant}} navbar-expand-lg {{#is toggle 'true'}}navbar-togglable{{/is}} fixed-top">
  <div class="container">

    <!-- Navbar brand (mobile) -->
    <a class="navbar-brand d-lg-none" href="{{webRoot}}/index.html">Royal Galaxy Dhaba</a>

    <!-- Navbar toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <a class="navbar-brand d-none d-lg-flex" href="{{webRoot}}/index.html">
        Royal Galaxy Dhaba
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{#is page 'index.html'}}active{{/is}}" href="{{webRoot}}/index.html">Home</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{#is page 'menu.html'}}active{{/is}}" href="{{webRoot}}/menu.html">Menu</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link {{#is page 'contact-us.html'}}active{{/is}}" href="{{webRoot}}/contact-us.html">Contact</a>
        </li>                      
      </ul>

      <!-- Navbar brand -->
      

      <!-- 
      <ul class="navbar-nav">        
        <li class="nav-item">
          <a class="nav-link {{#is page 'gallery.html'}}active{{/is}}" href="{{webRoot}}/gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#is page 'contact-us.html'}}active{{/is}}" href="{{webRoot}}/contact-us.html">Contact</a>
        </li>
      </ul>
       -->

    </div>
  </div>
</nav>
